/*Add CSS styles here*/
/*
body {
    margin: 0;
    padding: 0;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0,0,0,0;
}
*/

html,
body {
    height: 100%;
    margin: 0;
    background-color: #D7E5D7;
    }

    #map {
    --m: 20px;
    margin: var(--m);
    width: calc(80vw - var(--m));
    height: 80%;
    border-radius: 15px;
    
    }
    #image-map{
    margin: 20px;
    width: 100%;
    height: 100vh;   
    }
    #popup-map-autumn{
    height: 240px;
    width: 400px;
    }