@font-face {
    font-family: 'Satoshi-Variable';
    src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
         url('../fonts/Satoshi-Variable.woff') format('woff'),
         url('../fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
  }


html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #267e5c;
    font-family: 'Satoshi-Variable';
    font-weight: 600;
    }

h1 {
    padding-left: 15vw;
}

#intro-paragraph {
    padding-left: 15vw;
    max-width: 70vw;
    color: black;
}

#footer {
    font-size: smaller;
    padding-top: 10px;
    padding: 10px 15vw 10px;
    background-color: #257F5D;
    color: white;
}

#map {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15vw;
    width: 70vw;
    height: 90vh;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#image-map{
    margin: 20px;
    width: 100%;
    height: 100vh;   
}
#popup-map-autumn{
    height: 240px;
    width: 400px;
}

/* div for map selection buttons at bottom center of map */
.mapSelectionButtons {
    width: calc((11rem) * 2);
    user-select: none;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leaflet-floating-button{
    padding : 10px 20px;
    width: 11rem;
    background-color: #E4F1EB;
    color: #577C6E;
    border : 0px solid;
    cursor : pointer;
    font-weight: bold;
}


.leaflet-floating-button.selected {
    background-color: #257D5C;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    color: white;
}

.comparisonDropdown {
    font-size: medium;
    transform: translateX(-50%);
    background-color: #fff;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    line-height: 200%;
    user-select: none;
}

#bike-dropdown {
    pointer-events: auto;
    padding: 10px;
    margin-top: 5px;
    background-color: #E4F1EB;
    color: #227756;
    font-weight: 600;
    width: 100%;
    border: 0px;
}

.legend-control-container {
    width: auto;
    height: auto;
    color: black;
    line-height: 20px;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    user-select: none;
}

.legend-title {
    width: auto;
    margin: 0px 5px 5px 10px;
    font-size: 1.15em;
}

.legend-svgs {
    margin: 10px, 5px, 10px, 10px;
}




#projectMapBtn{
    border-radius : 15px 0px 0px 15px;
}

#comparisonMapBtn{
    border-radius : 0px 15px 15px 0px;
}


.leaflet-horizontalcenter {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    left: 50%;
    padding-top: 0px;
}
    
.leaflet-horizontalcenter .leaflet-control {
    margin-bottom: 20px;
}


